<div class="horizontal-row">
    <div class="card mb-2 text-center bg-dark">
        <div class="card-body">
            <p class="card-text text-white">
                Hola mundo 1
            </p>
        </div>
    </div>
    <div class="card mb-2 text-center bg-dark">
        <div class="card-body">
            <p class="card-text text-white">
                Hola mundo 2
            </p>
        </div>
    </div>
    <div class="card mb-2 text-center bg-dark">
        <div class="card-body">
            <p class="card-text text-white">
                Hola mundo 3
            </p>
        </div>
    </div>
    <div class="card mb-2 text-center bg-dark">
        <div class="card-body">
            <p class="card-text text-white">
                Hola mundo 4
            </p>
        </div>
    </div>
</div>
